@import url(reset.css);

body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.page-name {
   display: flex;
   align-items: center;
   gap: 5px;
}

.page-name h1 {
   font: 400 italic 2rem "system-ui";
}