@import url(reset.css);

body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

header {
   width: 100%;
   background-color: rgba(162, 72, 187, 0.95);
}

.page-name {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   padding: 1.5rem;
}

.page-name h1 {
   font: 600 italic 3rem "system-ui";
   color: rgb(26, 25, 25);
}

.page-name svg {
   fill: white;
}